body{
  background-color: #282c34;
  color: #ddd;
}

.heading{
  font-size: 35px;
}

.repobox{
  margin-top: 40px;
}

.repoResult{
  margin-top: 80px;
}

.repoResult h2{
  font-size: 17px;
  margin-bottom: 7px;
  font-weight: bold;
}

.repoResult h3{
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 2px;
  display: inline-block;
}

.displayBlock{
  display: block;
  line-height: 5px;
}

.repoResult p{
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 2px;
}

.loaderReact{
  position: absolute;
  left: 42%;
  margin-top: 80px;
}